.containerSelectList .selectSkuOptions {
  height: 40px;
  width: 245px;
  background: #fff;
  padding: 0 12px;
  font-size: 13px;
  color: #000000;
  letter-spacing: 0.60px;
  /* border: 1px solid #A3A3A3; */
  border-radius: 0;
  padding: 0;
}
.flexColChild--product-customized :global(.vtex-input-prefix__group) {
  height: 40px;
  border-radius: 0px;
  border: 1px solid #eeeeee;
}
:global(.vtex-modal-layout-0-x-contentContainer--quickviewContent) .containerButton {
  margin-bottom: 18px;
}
.containerButton .buttonAddList.buttonAddListEnable {
  box-sizing: border-box;
  width: 404px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  cursor: pointer;
}
