.link--link-product-quickview,
.link--link-product-quickview:hover {
  display: flex;
  width: 100%;
  max-width: 404px;
  height: 40px;
  background: #F3F3F3;
  color: #A79473;
  transition: 0.3s ease-in-out;
  font-size: 14px;
}
.link--link-product-quickview:hover{
  border-color:#A79473;
}
