.productNameContainer--quickview {
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 6px;
  color: #000000;
  text-align: left !important;
}
.caretIcon--quickview {
  color: transparent !important;
}
