.containerModal .closeModal{
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='close-button' xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3e%3cg id='close'%3e%3cpath id='Caminho_8746' data-name='Caminho 8746' d='M20,2,18,0,10,8,2,0,0,2l8,8L0,18l2,2,8-8,8,8,2-2-8-8Z' fill='%2325282a'/%3e%3c/g%3e%3c/svg%3e ");
}
.containerModal .modalHeaderTitle,
.modalHeaderTitle .strong{
  font-size: 20px;
  line-height: 27px;
}
.containerModal .modalHeaderTitle{
  margin-bottom: 17px;
}
.modalHeaderTitle .strong{
  font-weight: bold;
}
.modalHeaderSubTitle .giftIcon{
  background-repeat: no-repeat;
  background-color: #E2E2E2;
  border-radius: 50%;
  padding: 5px;
  background-position: center;
}
.containerModal .modalHeaderSubTitle{
  font-size: 16px;
  line-height: 24px;
}

.footerModal .buttonTransparent{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 276px;
  border-color: #E2E2E2;
  font-weight: bold;
  font-size: 12px;
  color: #000000;
  transition: 0.3s ease-in-out;
}
.footerModal .buttonTransparent:hover{
  color: #fff;
  background: #A79473;
}
.footerModal .copyListText{
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.footerModal .copyListLink{
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}
@media(max-width: 490px){
  .modalnavigation{
    overflow: auto;
  }
}
