.label {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.141' height='24.2' viewBox='0 0 23.141 24.2'%3E%3Cg transform='translate(-11.228 0.1)'%3E%3Cg transform='translate(11.328 12.031)'%3E%3Cg transform='translate(0)'%3E%3Cpath d='M22.8,257.323a11.483,11.483,0,0,0-11.47,11.47.5.5,0,0,0,1,0,10.473,10.473,0,1,1,20.946,0,.5.5,0,0,0,1,0A11.483,11.483,0,0,0,22.8,257.323Z' transform='translate(-11.328 -257.323)' stroke='%23000' stroke-width='0.2'/%3E%3C/g%3E%3C/g%3E%3Cg transform='translate(17.313)'%3E%3Cg transform='translate(0)'%3E%3Cpath d='M144.814,0A5.486,5.486,0,1,0,150.3,5.486,5.492,5.492,0,0,0,144.814,0Zm0,9.974A4.488,4.488,0,1,1,149.3,5.486,4.494,4.494,0,0,1,144.814,9.974Z' transform='translate(-139.328)' stroke='%23000' stroke-width='0.2'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 22.94px;
  height: 24px;
  font-size: 0;
}

.contentInitialScreen {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
}

.arrowUp {
  display: none;
}

.formTitle {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  color: #25282a;
  text-transform: uppercase;
}

.accessCodeOptionBtn :global(.vtex-button),
.optionsListItem :global(.vtex-button){
  background: #fff;
  border: 1px solid #b1b3b3;
  font-weight: normal;
  font-size: 10px;
  text-align: center;
  color: #000;
  border-radius: 0;
  height: 48px;
}

.accessCodeOptionBtn :global(.vtex-button) :global(.vtex-button__label),
.optionsListItem :global(.vtex-button) :global(.vtex-button__label) {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}

.accountOptions 
:global(.vtex-button),
.button{ 
  color: #000000;
}
.accountOptions 
:global(.vtex-button):hover,
.button:hover{ 
  color: #000000;
}


.accountOptions 
:global(.vtex-button):focus,
.button:focus{ 
  color: #000000;
}

.container :global(.vtex-button__label){
  padding-left: 0px;
  padding-bottom: 0em !important;

}

.profile{

    color: #a79473;
    font-size: 12px;
}