.container .titleHost {
  color: #fff;
  font-size: 24px;
  line-height: 18px;
  font-weight: bold;
  padding-bottom: 16px;
  text-transform: uppercase;
}
.container .descriptionHost,
.container .description {
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}
.container .created {
  border: none;
  font-weight: 700;
  background: #fff;
  color: #000;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}
.container .created:hover {
  background: #a79473;
  color: #fff;
}

.container .management {
  background: transparent;
  border-color: #fff;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}
.container .management:hover {
  background: #a79473;
}
.container .benefits {
  max-width: 1252px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}
.container .title {
  color: #fff;
  font-size: 24px;
  line-height: 18px;
  font-weight: bold;
  padding-bottom: 16px;
  text-transform: uppercase;
}
.formHosts .label {
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  color: #fff;
}
.formHosts .input::placeholder {
  color: #fff;
}

.formHosts .input::placeholder,
.formHosts .input,
.formHosts .inputDate {
  color: #fff;
}

.formHosts .submit {
  background: #fff;
  border-color: #fff;
  font-weight: 700;
  line-height: 18px;
  color: #000;
  transition: 0.3s ease-in-out;
}
.formHosts .submit:hover {
  background: #a79473;
  color: #fff;
}

.benefits .benefitstitle {
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  text-transform: uppercase;
}
.benefits .imageContainer {
  box-sizing: border-box;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 263px;
  padding: 26px;
}
.benefits .imageContainer .image {
  background: #f4f4f4;
  width: 50px;
  height: auto;
  border-radius: 0;
}

.benefits .name {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.benefits .description {
  color: #b5b5b5;
  font-size: 14px;
  line-height: 18px;
}
.benefitsInfoTitle {
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #000;
}
.benefitsInfoMainDescription {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 14px;
  line-height: 19px;
  color: #b5b5b5;
}
.containerCreateListAction .created {
  background: #000000;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 18px;
}
.containerCreateListAction .created:hover {
  background: #a79473;
  color: #fff;
}

@media (max-width: 767px) {
  .container .colOne {
    margin-bottom: 150px;
  }
  .colTwo .title,
  .colTwo .description,
  .colTwo .formHosts .label,
  .colTwo .formHosts .inputDate {
    color: black;
  }
  .formHosts .input::placeholder {
    color: black;
  }

  .formHosts .input::placeholder,
  .formHosts .input,
  .formHosts .inputDate {
    color: black;
  }
  .formHosts .submit {
    background: #000;
    border-color: #000;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    transition: 0.3s ease-in-out;
  }

  .imageContainer {
    margin: 8px auto;
    width: 298px;
    height: auto;
  }
}
@media (max-width: 360px) {
  .container .colTwo,
  .container .colOne {
    width: 300px;
  }
}
