.groupName{
  font-size: 0px;
  padding-top: 6px;
}

.groupName::after {
  content: 'Especificações';
  font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 21px;
    color: #141414;
    padding-bottom: 10px;
    padding-top: 5px;
}

.specificationName {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
