.paragraph--homeListTitle,
.rich-text--homeListTitle {
  color: white;
  font-size: 24px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.wrapper--homeSeoTitle,
.wrapper--homeSeoSubtitle {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 360px) {
  .paragraph--homeListTitle,
  .rich-text--homeListTitle {
      font-size: 22px;
  }
}

.wrapper--homeSeoText{
  max-width: 840px;
  margin: 0 auto;
  font-size: 12px;
}
.wrapper--homeSeoTitle :nth-child(even){
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 26px;
  font-weight: bold;
  color: #000000;

}
.wrapper--homeSeoSubtitle {
  max-width: 520px;
  margin-top: 0px;
}
.wrapper--homeSeoSubtitle :nth-child(even){
  font-size: 17px;
  font-weight: 400;
  color: #000000 ;
  margin-top: 0px;
}
.heading--homeSeoSubtitle{
  margin: 0;
}

.paragraph--homeSeoText {
  font-size: 12px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .wrapper--homeSeoTitle,
  .wrapper--homeSeoSubtitle {
    margin: 0 auto;
    width: 60%;
  }

  .wrapper--homeSeoTitle {
    margin-top: 100px;
  }

  .paragraph--homeSeoText {
    margin-left: auto;
    margin-right: auto;

  }
}

@media (max-width: 1024px) {
  .wrapper--homeSeoTitle,
  .wrapper--homeSeoSubtitle {
    margin: 0 auto;
    width: 100%;
  }
  .wrapper--homeSeoSubtitle {
    font-size: 12px;
  }
  .paragraph--homeSeoText {

    margin: 0 auto;
    padding-bottom: 40px;
  }
  .heading--homeSeoSubtitle{
    margin: 0;
  }
}

.link--botao-flutuante {
  position: fixed;
  border-radius: 50%;
  bottom: 20px;
  right: 30px;
  z-index: 1000;

  width: 50px;
  height: 50px;

}
.link--botao-flutuante:hover {
  transform: scale(1.3);
}
