.flexRow--giftListLayout {
  position: relative;
}
.flexRow--giftlistcreatedLayout :global(.vtex-store-components-3-x-container) {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
.flexRow--giftListLayout :global(.vtex-store-components-3-x-imageElement) {
  width: 100%;
  object-fit: cover;
  min-height: 430px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.flexColChild--giftListLayout--col {
  z-index: 2;
  padding: 15px 0;
}

.flexRowContent--giftlistmanagementLayout {
  max-width: 1252px;
  margin: 0 auto;
  padding-top: 60px;
}
.flexRowContent--giftlistmanagementLayout .containerPagination {
  color: #000000;
}

@media (max-width: 767px) {
  .flexRow--giftListLayout {
    padding-top: 63px;
  }
}
@media (max-width: 639px) {
  .flexRow--giftListLayout :global(.vtex-store-components-3-x-imageElement) {
    height: 414px;
  }
}
