/* Institutional - Container */
.flexRow--institutionalContainer :global(.vtex-store-components-3-x-container) {
  padding: 1rem 2.25rem;
}

.flexColChild--institutionalContent {
  max-width: 980px;
}

/* -------------------CONTAINER TRABALHE CONOSCO ---------------------------- */
.flexRow--container-trabalhe-conosco
  :global(.vtex-store-components-3-x-container) {
  padding: 2.25rem 2.25rem;
}

.flexColChild--container-conteudo-trabalhe-conosco {
  max-width: 980px;
}

.flexRow--menu-mobile-container {
  margin-top: 3rem;
}

@media (max-width: 780px) {
  .flexRow--menu-mobile-container {
    margin-top: 1rem;
  }
}

.flexRowContent--menu-mobile-container {
  border: 1px solid #e9e9e9;
}
.flexRow--institutionalContainerPerguntas :global(.vtex-store-components-3-x-container){
  max-width: 380px;
}
/* -------------------FORMULARIO TRABALHE CONOSCO ---------------------------- */

.flexRow--container-form {
  max-width: 450px;
  margin-top: 20px;
}

.flexRow--container-form :global(.vtex-styleguide-9-x-input),
.flexRow--container-form :global(.vtex-input-prefix__group) {
  height: 40px;
  margin-bottom: 20px !important;
  border: 1px solid #eeeeee;
  border-radius: 0px;
  font-size: 12px !important;
  color: #000000;
}

.flexRow--container-form :global(.vtex-dropdown__container) {
  width: 100%;
  height: 40px;
  margin-bottom: 20px !important;
  border: 1px solid #eeeeee;
  border-radius: 0px;
  font-size: 12px !important;
  color: #787878;
}

.flexRow--container-form :global(.vtex-dropdown__arrow) {
  color: #afafaf;
}

.flexRow--container-form :global(.vtex-rich-text-0-x-link--link-linkedin),
.flexRow--container-form :global(.vtex-rich-text-0-x-paragraph--link-linkedin) {
  font-size: 14px;
  color: #787878;
  margin-top: 50px;
  margin-bottom: 50px;
}

:global(.vtex-styleguide-9-x-popup) {
  background-color: #000000 !important;
}

.flexColChild--form-trabalhe-conosco :global(.vtex-textarea__label) {
  margin-top: 3rem;
}

.flexRow--container-form :global(.vtex-dropdown__label) {
  display: none;
}

.flexRow--container-form
  :global(.vtex-styleguide-9-x-dropdown):nth-child(even)
  :first-child {
  font-size: 0px;
  margin: 0;
}

.flexRow--container-form
  :global(.vtex-styleguide-9-x-dropdown):nth-child(even)
  :first-child
  :first-child {
  font-size: 12px;
  margin: 0;
}

.flexRow--container-form :global(.vtex-input__label),
.flexRow--container-form :global(.vtex-textarea__label),
.flexRow--container-form :global(.vtex-rich-text-0-x-paragraph--subjectLabel),
.flexRow--container-form :global(.vtex-rich-text-0-x-paragraph--uploadLabel) {
  font-size: 12px !important;
  color: #000000;
  margin-bottom: 9px;
}

.flexRow--container-form
  :global(.vtex-styleguide-9-x-dropdown)
  :global(.vtex-button__label) {
  font-size: inherit !important;
}

.flexRowContent--storesList {
  flex-wrap: wrap;
  max-width: 100%;
}
.flexCol--container-faq :global(.vtex-rich-text-0-x-paragraph--title-faq){
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 40px;
    text-transform: uppercase;
    margin-top: 20px;
}
.flexRowContent--faq{
  max-width: 990px;
}

@media (min-width: 1200px) {
  .flexRowContent--storesList
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: calc(33% - 12px) !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .flexRowContent--storesList
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: calc(50% - 12px) !important;
  }
}
