/* Header */

.menuItem--ruler-mobile {
  background: #a79473;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  color: #fff;
  padding: 6px 0;
}

.styledLinkContent--ruler-mobile {
  color: #fff;
}

.menuItem--menuLinkPrincipalMobile .styledLinkContent--menuLinkPrincipalMobile {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  color: #000;
  align-items: center;
}

.menuItem--menuLinkPrincipal {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem--menuLinkPrincipal .styledLinkContent--menuLinkPrincipal {
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: #000;
  opacity: 1;
  text-transform: uppercase;
  border-bottom: 1.5px solid transparent;
}

.menuItem--menuLinkPrincipal .styledLinkContent--menuLinkPrincipal:hover {
  border-bottom: 1.5px solid #000000;
}

.menuItem--menuLinkPrincipal .styledLinkContent--novaClassOutlet {
  /*color: #cc4f38;*/
  font-weight: bold;
  opacity: 1;
}

.menuItem--menuLinkPrincipal .styledLinkContainer--menuLinkPrincipal {
  padding: 0;
  margin: 0 35px;
}

.menuItem--menuLinkPrincipal .styledLink--menuLinkPrincipal {
  padding: 20px 0;
  display: block;
}

.styledLinkContainer--menuLinkPrincipal .styledLinkContent--novaClasseFirst {
  font-weight: bold;
}

.menuItem--novaClassOutlet .styledLinkContent--menuLinkPrincipalMobile {
  /*color: #cc4f38;*/
  font-weight: bold;
}

.accordionIcon--menuLinkPrincipalMobile--isClosed,
.accordionIcon--menuLinkPrincipal--isClosed,
.accordionIcon--have-children--isClosed {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.75' height='20' viewBox='0 0 11.75 20'%3E%3Cpath d='M3.948,10,11.43,2.522a1.1,1.1,0,0,0,0-1.547L10.775.32a1.1,1.1,0,0,0-1.547,0L.319,9.228a1.1,1.1,0,0,0,0,1.553l8.9,8.9a1.1,1.1,0,0,0,1.547,0l.655-.655a1.1,1.1,0,0,0,0-1.547Z' transform='translate(0 0)' fill='%23141414'/%3E%3C/svg%3E");
  font-size: 0;
  height: 13px;
  width: 13px;
  background-size: contain;
  transform: rotate(270deg);
  margin: 0;
}

.accordionIcon--menuLinkPrincipalMobile--isOpen,
.accordionIcon--menuLinkPrincipal--isOpen,
.accordionIcon--have-children--isOpen {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.75' height='20' viewBox='0 0 11.75 20'%3E%3Cpath d='M3.948,10,11.43,2.522a1.1,1.1,0,0,0,0-1.547L10.775.32a1.1,1.1,0,0,0-1.547,0L.319,9.228a1.1,1.1,0,0,0,0,1.553l8.9,8.9a1.1,1.1,0,0,0,1.547,0l.655-.655a1.1,1.1,0,0,0,0-1.547Z' transform='translate(0 0)' fill='%23141414'/%3E%3C/svg%3E");
  font-size: 0;
  transform: rotate(90deg);
  background-size: contain;
  height: 13px;
  width: 13px;
  margin: 0;
}

.styledLinkContainer--childSub {
  padding: 0;
  margin: 0 15px;
}

.styledLinkContent--childSub {
  font-size: 12px;
  line-height: 30px;
  text-align: left;
  color: #141414;
  text-transform: uppercase;
}
.styledLinkContent--childSub:hover {
  color: rgb(167, 148, 115);
  font-weight: bold;
}

.menuItem--menuLinkPrincipalMobile {
  width: 100%;
  border-bottom: 1px solid #eee;
  line-height: 50px;
}

.menuItem--minhaContaMobile {
  border-top: 1px solid #eee;
}

.menuItem--minhaContaMobile,
.menuItem--nossasLojasMobile {
  width: 100%;
}
.menuItem--nossasLojasMobile {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.menuItem--minhaContaMobile :global(.vtex-menu-2-x-styledLinkContent),
.menuItem--nossasLojasMobile :global(.vtex-menu-2-x-styledLinkContent) {
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  color: #141414;
  display: block;
  line-height: 50px;
  background: #f4f4f4;
  text-transform: uppercase;
  margin: 0 -24px;
  padding: 0 24px;
}

.menuItem--ver-todos .styledLinkContainer--ver-todos {
  padding: 0;
  margin: 0 15px;
}

.menuItem--ver-todos .styledLinkContent--ver-todos {
  font-weight: bold;
  font-size: 12px;
  line-height: 30px;
  text-align: left;
  color: #141414;
}

@media (min-width: 992px) {
  .submenuContainer {
    position: initial;
  }

  .submenuWrapper--isOpen {
    background: #fff;
    height: 280px;
    left: -20px;
    top: 48px !important;
    width: 1250px;
  }

  .submenuWrapper {
    padding: 40px;
  }

  .menuContainer {
    position: relative;
    justify-content: space-between;
  }

  .menuContainer :global(.vtex-flex-layout-0-x-flexRow--drop-category) {
    width: 60%;
  }

  .menuContainer :global(.vtex-flex-layout-0-x-flexRow--contentImagesGeral) {
    width: 27%;
  }

  .menuContainerNav .menuContainer--drop-category {
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: start;
  }

  .styledLinkContent--childSub {
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 24px;
    position: relative;
    text-transform: uppercase;
    width: 275px;
    margin-right: 490px;
    color: #141414;
  }

  .styledLinkContent--shop,
  .styledLinkContent--icone {
    letter-spacing: 2px;
    cursor: default;
  }

  .menuItem--icone {
    gap: 7px;
  }

  .styledLinkContainer--menuMobile {
    margin-left: 0;
  }
}
