.searchResultContainer {
  padding: 0;
  margin: 0;
  max-width: 100% !important;
}

.galleryLayoutOptionButton {
  background-color: #f0f0f0;
  color: #3f3f40;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
}

.galleryLayoutOptionButton--selected {
  background-color: #3f3f40;
  color: #ffffff;
}

.galleryLayoutSwitcher {
  border-radius: 4px 4px 4px 4px;
  justify-content: center;
  overflow: hidden;
  width: auto !important;
  align-self: center;
}

.galleryItem--list {
  border-bottom: 1px #e7e9ee solid;
}
.filter__container--selectedFilters {
  display: none;
}
.filterMessage {
  color: #25282a;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 23px;
  margin-top: 4px;
  margin-bottom: 7px;
}
.searchResultContainer--search-page-container .galleryTitle--layout {
  text-align: center;
  font-size: 20px;
  line-height: 27px;
  color: #141414;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 28px;
  margin-bottom: 78px;
}
.searchResultContainer--search-page-container .galleryTitle--layout::before {
  content: 'Busca por "';
  font-weight: 400;
}
.searchResultContainer--search-page-container .galleryTitle--layout::after {
  content: '"';
  font-weight: 400;
}
.filterTitle {
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.filterIcon{
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='11' height='5.91' viewBox='0 0 11 5.91'%3e%3cpath id='Caminho_8787' data-name='Caminho 8787' d='M962.769,534.136a.157.157,0,0,0-.11-.045.155.155,0,0,0-.112.046l-5.1,5.1a.5.5,0,0,0,0,.707l5.1,5.1a.159.159,0,0,0,.222,0l.392-.392a.157.157,0,0,0,0-.222l-4.836-4.841,4.843-4.84a.16.16,0,0,0,0-.223Z' transform='translate(-534.091 963.207) rotate(-90)' fill='%2325282a'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  transition: 0.3s ease-in;
}
.filterIsOpen .filterIcon{
  transform: rotate(-180deg);
}
.filterIcon .caretIcon {
  color: transparent;
}
.filterTemplateOverflow::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #e9e9e9;
}

.filterTemplateOverflow::-webkit-scrollbar {
  border-radius: 4px;
  width: 4px;
  background-color: #e9e9e9;
}
.filterTemplateOverflow::-webkit-scrollbar-thumb {
  background-color: #c8c8c8;
}
:global(.vtex-checkbox__inner-container) {
  border-color: transparent;
  background-color: transparent;
}

:global(.vtex-checkbox__line-container) {
  align-items: center;
}
:global(.vtex-checkbox__box-wrapper) {
  border: solid 1px #d8d8d8;
  width: 18px;
  height: 18px;
}
.filterItem {
  margin-bottom: 12px;
}
.filterItem :global(.vtex-checkbox__container) {
  margin-right: 8px;
}
.filterItem :global(.vtex-checkbox__label) {
  color: #141414;
  font-size: 12px;
  line-height: 14px;
  margin-top: 2px;
  text-transform: uppercase;
}
.filterItem--selected :global(.vtex-checkbox__box-wrapper) {
  background-color: #141414;
}
.filterItem--selected :global(.vtex-checkbox__label) {
  color: #a79473;
  font-weight: bold;
}
.filterItem--selected :global(.vtex__icon-check) {
  color: #ffffff;
}
.filterTemplateOverflow {
  padding: 0;
}
.filter__container {
  padding: 15px 0;
}
.filter__container .filter {
  padding: 0;
}
.filter__container .filterIsOpen {
  margin-bottom: 20px;
}
.filterTemplateOverflow :global(.vtex-slider__selector-tooltip),
.filterTemplateOverflow :global(.vtex-slider__selector),
.filterTemplateOverflow :global(.vtex-slider__base-internal) {
  background-color: #141414;
  border-color: #141414;
}
/* banner custom */
.searchResultContainer
  :global(.vtex-flex-layout-0-x-flexRow--banner-department) {
  max-width: 100% !important;
  width: 100%;
}
.container-banner {
  position: relative;
}
.container-banner .banner-desktop {
  display: block;
  min-height: 250px;
  width: 100%;
  animation: fadeInBanner 1.5s forwards ;

}
.container-banner .banner-mobile {
  display: none;
  animation: fadeInBanner 1.5s forwards ;
}
@keyframes fadeInBanner {
  0% {
    opacity: 0;
    transform: translate3d(-20px,0 ,0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px,0 ,0);

  }
}
.container-category-text {
  width: 100%;
  max-width: 1252px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  height: 100%;
  right: auto;
  left: 50%;
  transform: translateX(-50%);
}
.container-category-text .category-text {

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-category-text .category-text::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #e9e9e9;
}

.container-category-text .category-text::-webkit-scrollbar {
  border-radius: 4px;
  width: 4px;
  background-color: #e9e9e9;
}
.container-category-text .category-text::-webkit-scrollbar-thumb {
  background-color: #c8c8c8;
}
.container-category-text .category-title {
  font-size: 44px;
  line-height: 44px;
  margin: 0 0 16px 0;
  color: #000000;
  font-weight: bold;
}
.container-category-text .category-subtitle,
.container-category-text .category-paragraph {
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  margin: 0;
}
.container-category-text .category-subtitle {
  margin-bottom: 10px;
}
.container-category-text .category-paragrap {
  margin-bottom: 6px;
}
.buttonShowMore :global(.vtex-button) {
  border: none;
  background-color: #eeeeee;
  transition: 0.3s ease-in-out;
  width: 354px;
  height: 48px;
  border-radius: 0;
  margin-top: 36px;
}
.buttonShowMore :global(.vtex-button):hover {
  background-color: #e4dedee0;
  cursor: pointer;
}
.buttonShowMore :global(.vtex-button__label) {
  font-size: 0px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
}
.buttonShowMore :global(.vtex-button__label)::after {
  content: "carregar mais produtos";
  font-size: 12px;
}
.totalProducts--layout {
  padding-left: .5rem;
  padding-right: .5rem;
}
.totalProducts--layout,
.totalProducts--layout .totalProductsMessage {
  font-size: 14px;
  line-height: 19px;
  color: #b1b3b3;
  border: none;
}
.totalProducts--layout .totalProductsMessage::after {
  content: "Encontrados";
  margin-left: 4px;
}
.orderByButton .filterPopupTitle {
  color: #b1b3b3;
  font-size: 12px;
}
.orderByText {
  color: #25282a;
  font-size: 14px;
  line-height: 19px;
}
.orderByText::after {
  content: ":";
  margin-right: 33px;
}
.filterPopupArrowIcon {
  color: #b1b3b3;
}
@media (max-width: 1279px) {
  .container-category-text .category-text {
    padding-left: 12px;
  }
}
@media (max-width: 900px) {
  .container-category-text {
    top: 18px;
  }
}

@media (max-width: 1024px) {
  .orderByText::after {
    content: "";
    margin-right: 0;
  }
  .searchResultContainer--search-page-container .galleryTitle--layout {
    margin-bottom: 38px;
  }
  .orderByText {
    color: #2d2e3a;
    font-size: 12px;
    line-height: 16px;
    text-transform: none;
  }
  .orderByButton .filterPopupTitle {
    font-size: 0;
  }
  .filterAccordionBreadcrumbs {
    margin-top: 36px;
  }
  .filterBreadcrumbsText--filter-mobile {
    font-size: 0px;
    color: #787878;
    text-transform: uppercase;
    font-weight: bold;
  }
  .filterBreadcrumbsText--filter-mobile::after {
    content: "Filtrar";
    font-size: 14px;
  }
  .caretIcon--filter-mobile {
    color: #707070;
  }
  .closeIconButton--close-filter {
    left: 11px;
    top: 16px;
    padding: 6px;
    color: #25282a;
  }
  .filterBreadcrumbsItem .caretIcon--filter-mobile {
    margin: 0 8px;
    color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.07' height='32' viewBox='0 0 17.07 32'%3E%3Cg id='noun_up_arrow_4203746' data-name='noun_up arrow_4203746' transform='translate(19.185 -0.263) rotate(90)'%3E%3Cg id='Grupo_5098' data-name='Grupo 5098' transform='translate(0.263 2.115)'%3E%3Cpath id='Caminho_8783' data-name='Caminho 8783' d='M32.263,306.652a1.066,1.066,0,0,1-1.834.74L16.262,293.217,2.087,307.392a1.069,1.069,0,0,1-1.511-1.511l14.931-14.923a1.066,1.066,0,0,1,1.5,0L31.94,305.881a1.066,1.066,0,0,1,.323.771Z' transform='translate(-0.263 -290.649)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 11px;
    height: auto;
    margin-right: 16px;
  }
  .filterBreadcrumbsItem--filter-mobile .filterBreadcrumbsItemName {
    font-size: 14px;
    font-weight: bold;
    color: #141414;
    text-transform: uppercase;
    padding-left: 0;
  }
  .accordionFilterContainer--filter-mobile {
    padding-left: 0;
  }
  .accordionFilterItemTitle--filter-mobile {
    color: #141414;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 17px;
  }
  .filterAccordionItemBox--filter-mobile {
    padding: 0;
    min-height: auto;
  }
  .accordionFilterContent--filter-mobile {
    padding: 14px 0;
  }
  .accordionFilterOpen--filter-mobile .filterAccordionItemBox {
    border: none;
    min-height: auto;
    padding: 0;
    box-sizing: border-box;
    height: 34px;
  }
  .accordionFilterOpen--filter-mobile :global(.vtex-checkbox__label) {
    color: #141414;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    margin-top: 3px;
    text-transform: uppercase;
    margin-left: 4px;
  }
  .accordionFilterOpen--filter-mobile :global(.vtex-checkbox__box-wrapper) {
    border-radius: 3px;
  }
  .electedFilterItem :global(.vtex__icon-check),
  .filterItem--filter-mobile--selected :global(.vtex__icon-check),
  .filterAccordionItemBox :global(.vtex__icon-check) {
    color: #fff;
    width: 16px;
    height: 16px;
    background-color: #141414;
    border: solid 1px #141414;
  }

  .orderByButton .orderByText {
    display: inline;
  }
  .filterPopupArrowIcon {
    margin-left: 0px;
  }
  .orderBy--layout,
  .orderByDropdown {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  .orderByDropdown,
  .filtersWrapperMobile {
    border: solid 1px #e9e9e9;
    min-width: 176px;
  }
  .orderByButton {
    width: 100%;
    height: 100%;
    padding: 0 16px;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    border: none;
  }
  .filtersWrapperMobile .filterPopupArrowIcon {
    display: none;
  }
  .sidebar {
    min-width: 350px !important;
  }
  .filterButtonsBox {
    padding-bottom: 167px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    gap: 20px;
    border: none;
  }
  .filterClearButtonWrapper,
  .filterApplyButtonWrapper {
    width: auto !important;
  }
  .filterButtonsBox .filterClearButtonWrapper :global(.vtex-button__label) {
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 2px;
    color: #25282a;
    font-weight: bold;
  }
  .filterButtonsBox .filterClearButtonWrapper :global(.vtex-button) {
    border-radius: 0;
    border: solid 1px #e9e9e9;
    border-radius: 0;
    display: flex;
    align-items: center;
    height: 48px;
    width: 145px;
    transition: 0.3s ease-in-out;
  }

  .filterButtonsBox .filterClearButtonWrapper :global(.vtex-button):hover {
    color: #000000;
    background-color: #fff;
    border-color: #000000;
  }
  .filterApplyButtonWrapper :global(.vtex-button__label) {
    color: #fff;
    font-size: 12px;
    line-height: 17px;
    font-weight: bold;
  }
  .filterApplyButtonWrapper :global(.vtex-button) {
    border-radius: 0;
    background-color: #000000;
    border-radius: 0;
    display: flex;
    align-items: center;
    height: 48px;
    width: 145px;
    transition: 0.3s ease-in-out;
    border: none;
  }
  .accordionFilterItemTag--filter-mobile :global(.vtex-tag) {
    background-color: #eeeeee;
    color: #25282a;
    font-size: 12px;
    line-height: 27px;
    padding: 0;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    width: 38px;
    height: 27px;
    border-radius: 60px;
  }
  .filterPopupTitle--filter-mobile {
    color: #25282a;
    font-size: 12px;
    font-weight: bold;
  }
}
/* busca vazia */
.notFound--layout {
  margin-top: 40px;
}

.searchNotFound {
  margin: 5px;
  padding: 4px;
  padding-bottom: 57px;
}

.searchNotFoundOops {
  font-size: 0;
  line-height: 56px;
  text-transform: uppercase;
  color: #e6e6e6;
}
.searchNotFoundOops::after {
  content: "ops!";
  font-size: 56px;
  line-height: 56px;
}
.searchNotFoundInfo {
  color: #141414;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 0 15px;
}
.searchNotFoundInfo .searchNotFoundWhatDoIDo {
  color: #2e2e2e;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-transform: none;
  margin: 20px 0 17px 0;
}
.searchNotFoundInfo .searchNotFoundWhatToDoDotsContainer {
  margin: 3px 0;
  padding: 0;
}
.searchNotFoundInfo
  .searchNotFoundWhatToDoDotsContainer
  .searchNotFoundWhatToDoDots {
  list-style: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-transform: none;
  color: #141414;
}
.searchNotFoundInfo
  .searchNotFoundWhatToDoDotsContainer
  .searchNotFoundWhatToDoDots::before {
  content: "-";
  margin-right: 4px;
}
/* busca vazia */
@media (max-width: 767px) {
  .container-banner .banner-desktop {
    display: block;
    display: none;
  }
  .container-banner .banner-mobile {
    display: block;
    height: 240px;
    width: 414px;
    object-fit: cover;
  }

  .container-category-text .category-text {
    width: 100%;
    padding-left: 0;
    max-height: none;
  }
  .container-category-text .category-title{
    font-size: 32px;
    line-height: 32px;
  }
}
.galleryItem :global(.vtex-product-summary-2-x-container){
  transition: 0.3s ease-in-out;
}
.accordionFilterItemIcon--filter-mobile .caretIcon--filter-mobile{
  color: transparent;
}
.accordionFilterItemIcon--filter-mobile{
  color: transparent;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='11' height='5.91' viewBox='0 0 11 5.91'%3e%3cpath id='Caminho_8788' data-name='Caminho 8788' d='M962.769,534.136a.157.157,0,0,0-.11-.045.155.155,0,0,0-.112.046l-5.1,5.1a.5.5,0,0,0,0,.707l5.1,5.1a.159.159,0,0,0,.222,0l.392-.392a.157.157,0,0,0,0-.222l-4.836-4.841,4.843-4.84a.16.16,0,0,0,0-.223Z' transform='translate(-534.091 963.207) rotate(-90)' fill='%2325282a'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 11px;
  height: auto;
  margin-right: 16px;
}

@media(min-width: 1024px){
  .galleryItem :global(.vtex-product-summary-2-x-container):hover {
    box-shadow: 0px 0px 10px rgba(211,211,211,0.7);
    border-radius: 0;
  }
}


@media (max-width: 640px) {
  .searchNotFoundOops {
    margin-bottom: 34px;
  }
}
@media (max-width: 400px) {
  .orderByDropdown,
  .filtersWrapperMobile {
    min-width: 150px;
  }
  .buttonShowMore :global(.vtex-button) {
    width: calc(100% - 60px);
    margin-top: 60px;
  }
}

@media(max-width: 360px){
  .sidebar {
    min-width: 300px !important;
  }
}
