.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0 0 ;
}
.highQualityContainer {
  /* overflow: auto; */
  padding-right: 0;
}

.highQualityProductImageImgElement{
  max-width: auto;
}

.discountInsideContainer {
  display: none;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  /* object-fit: cover !important; */
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

/* Search */

.productBrandName--summaryListDesktop {
  text-decoration: none;
  font-weight: 500;
  color: #0067c7;
  font-size: 0.875rem;
}

.productBrandName--summaryListMobile {
  text-decoration: none;
  color: #0067c7;
  font-size: 0.875rem;
}

.search-header-mobile {
  background: #f4f4f4;
}

.searchBarContainer {
  padding: 0;
  height: 48px;
  background: #f4f4f4;
}
.searchBarContainer :global(.vtex-input-prefix__group) {
  height: 48px;
  border: 0;
  box-shadow: none;
  background: #f4f4f4;
}
.searchBarContainer
  :global(.vtex-input-prefix__group)
  :global(.vtex-input__suffix),
.searchBarContainer
  :global(.vtex-input-prefix__group)
  :global(.vtex-styleguide-9-x-input) {
  background: #f4f4f4;
}

@media (min-width: 992px) {
  .searchBarContainer :global(.vtex-input-prefix__group) {
    background: #fff;
    border-bottom: 1px solid #eee;
  }
  .searchBarContainer
    :global(.vtex-input-prefix__group)
    :global(.vtex-input__suffix),
  .searchBarContainer
    :global(.vtex-input-prefix__group)
    :global(.vtex-styleguide-9-x-input) {
    background: #fff;
  }
}

.searchBarContainer
  :global(.vtex-input-prefix__group)
  :global(.vtex-styleguide-9-x-input) {
  font-weight: normal;
  font-size: 16px !important;
  line-height: 24px;
  text-align: left;
  color: #141414;
  padding-top: 11px;
  padding-bottom: 11px;
}

.searchBarContainer
  :global(.vtex-input-prefix__group)
  :global(.vtex-styleguide-9-x-input)::placeholder {
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #141414;
  opacity: 1;
}

.searchBarContainer
  :global(.vtex-input-prefix__group)
  :global(.vtex-styleguide-9-x-input)::placeholder::after {
  content: "O que procura?";
}

.searchIcon {
  color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'%3E%3Cpath d='M21.8,20.8l-5.68-5.589a8.984,8.984,0,0,0,2.4-6.105A9.184,9.184,0,0,0,9.262,0,9.183,9.183,0,0,0,.006,9.109a9.183,9.183,0,0,0,9.256,9.109,9.309,9.309,0,0,0,5.826-2.034l5.7,5.611a.72.72,0,0,0,1.007,0A.693.693,0,0,0,21.8,20.8ZM9.262,16.816A7.77,7.77,0,0,1,1.43,9.109,7.77,7.77,0,0,1,9.262,1.4a7.77,7.77,0,0,1,7.832,7.707A7.77,7.77,0,0,1,9.262,16.816Z' transform='translate(-0.006)'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 22px;
  height: 22px;
}

.store-logo,
.sizeDesktop {
  display: block;
}

@media (min-width: 992px) {
  .sizeDesktop {
    min-width: 80px;
  }

  .logoLink {
    position: absolute;
    left: 50%;
    top: calc(50% + 3px);
    transform: translate(-50%, -50%) !important;
  }
}
@media(min-width:640px){
  .highQualityContainer :first-child{
    height: 100vh;
  }
}
@media(max-width: 639px){
  .store-logo,
.sizeDesktop {
  padding: 0 0 0 .95rem;
}
.logoLink--header-logo__mobile{
 padding-right: 10px;
}
}
@media(max-width: 1023px){
  .searchBarContainer {
    margin-left: auto;
    margin-right: auto;
  }
}
