.container {
  padding: 0;
  margin: 12px 0 16px 0;
  max-width: 1252px;
}
.link,
.term {
  font-size: 12px;
  line-height: 16px;
  color: #b1b3b3;
  text-transform: capitalize;
}
.link:hover {
  color: #a79473;
}
.homeIcon {
  width: 16px;
  height: 16px;
}
.caretIcon {
  color: #b1b3b3 !important;
}
.homeLink {
  padding-left: 0;
}
@media (max-width: 767px) {
  .container {
    margin: 12px 0 20px 0;
    padding-left: .5rem;
    padding-right: .5rem;
  }
}
