.productBrandName {
  display: none;
}
.productName {
  font-weight: normal;
  font-size: 12px;
  text-align: left;
  color: #25282a;
}
.productVariationsContainer{
  font-size: 11px;
}

.deleteIcon {
  fill: #B1B3B3;
}

.quantityDropdownContainer :global(.vtex-styleguide-9-x-dropdown) :global(.vtex-dropdown__arrow) {
  color: #B1B3B3;
}
