.link--homeListLink {
    align-items: center;
    background-color: #a79473;
    border: 1px solid white;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    width: 300px;
}

@media (max-width: 360px) {
    .link--homeListLink {
        padding: 15px 78px;
    }
}