.seo-text{
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.category-seo-subtitle{
  margin:0 0 5px 0;

  font-size: 12px;
  line-height: 16px;
  color: #000000;
  font-weight: bold;
}
.category-seo-paragraph{
  margin: 5px 0;

  font-size: 12px;
  line-height: 16px;
  color: #000000;
  font-weight: 400;
}

@media(max-width: 640px){
  .seo-text{
    padding-left: 20px;
    padding-right: 20px;
  }
}
