.stepsItem .step {
  background: #e2e2e2;
  font-size: 16px;
}
.stepsItem .step.stepActive {
  background: #a79473;
}
.listtypes .messageTypeList {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
:global(.vtex-flex-layout-0-x-flexRow--giftlistcreatedLayout) .titleGetUser {
  color: #000000;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
}
:global(.vtex-flex-layout-0-x-flexRow--giftlistcreatedLayout) .titleGetUser .strong {
  font-weight: bold;
}
:global(.vtex-flex-layout-0-x-flexRow--giftlistcreatedLayout) .formDataListMessage {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.listtypes .boxTypeContainer {
  max-width: 1252px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  gap: 16px;
}

.listtypes .boxType {
  width: 237px;
  height: 237px;
  padding: 0 5px;
  font-size: 24px;
  line-height: 22px;
  color: #000000;
  text-transform: uppercase;
  flex-direction: column;
  font-weight: 700;
}
.listtypes .boxType:hover {
  background: #a79473;
  opacity: 0.7;
}
.listtypes .boxType::before {
  content: "Lista de";
  display: block;
  font-size: 12px;
  text-transform: none;
}
.listtypes .boxType.boxTypeSelected {
  background: #a79473;
}
.listtypes .boxType.boxTypeSelected:hover {
  background: #a79473;
  opacity: 1;
}
.listtypes .continue,
.form .continue {
  background: black;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  width: 212px;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
.listtypes .continue:hover {
  background: #a79473;
  border-color: #a79473;
}
.formCreateList .label {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}
.formCreateList .btnBack {
  display: block;
}
.formCreateList .labelRadio {
  cursor: pointer;
  font-size: 13px;
  line-height: 18px;
  color: #000;
}
.formCreateList .labelRadio .inputRadio {
  filter: grayscale(1);
}
.formCreateList .notification {
  font-size: 12px;
  line-height: 18px;
  color: #6d6d6d;
}

.formCreateList .notificationPrivacy {
  color: #6d6d6d;
  font-size: 13px;
  line-height: 18px;
}
.formCreateList .label {
  color: #303030;
}
.receive .label {
  color: #303030;
  font-size: 14px !important;
  line-height: 30px;
  margin-bottom: 7px;
  margin-top: 5px;
}
.formCreateList .formAdressContainer {
  grid-gap: 20px;
}
.formCreateList .continue {
  background: black;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  width: 212px;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
.formCreateList .continue:hover {
  background: #a79473;
  border-color: #a79473;
}
.form .hostData {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
.form .formHostData .label {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #000;
}

.form .btnBack {
  display: block;
}
.form .hostDataMessage {
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
@media (max-width: 1279px) {
  .listtypes .boxTypeContainer {
    justify-content: space-evenly;
  }
}
@media (max-width: 991px) {
  :global(.vtex-flex-layout-0-x-flexRow--giftlistcreatedLayout) .formCreateList {
    margin-left: 21px;
    margin-right: 21px;
  }
  .stepsItem .step::after {
    width: 100px;
    right: calc(0% - 105px);
  }
  .form {
    margin-left: 21px;
    margin-right: 21px;
  }
}
@media (max-width: 767px) {
  :global(.vtex-flex-layout-0-x-flexRow--giftlistcreatedLayout) .titleGetUser {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (max-width: 490px) {
  .steps .stepsItem {
    margin: 0 5px;
  }
  .stepsItem .step::after {
    width: 60px;
    right: calc(0% - 65px);
  }
  :global(.vtex-flex-layout-0-x-flexRow--giftlistcreatedLayout) .formDataListMessage {
    margin-left: 21px;
    margin-right: 21px;
  }
}
