.SkuTitle {
  font-size: 13px;
  line-height: 17px;
  color: #141414;
  text-align: center;
  text-transform: uppercase;
}
.SkuDescription {
  font-size: 13px;
  line-height: 17px;
  color: #141414;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}
.containerSkuInfo .ContainerButtonActions {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.ContainerButtonActions .QuantitySelector {
  margin-right: 8px;
}
.containerPagination{
  margin-top: 32px;
}
.containerSkuInfo .GiveGiftButton {
  background: #303030;
}
.containerSkuInfo .GiveGiftButtonDisalbled {
  background: #afafaf;
  color: #dfdfdf;
  border: none;
}
.containerSkuInfo .QuantitySelector {
  border: solid 1px #f3f3f3;
  width: 96px;
}
.QuantitySelector .QuantityMinus,
.QuantitySelector .QuantityPlus,
.QuantitySelector .QuantityDisplay {
  border: none;
  color: #a79473;
  font-weight: bold;
}
.QuantitySelector .QuantityDisplay {
  font-size: 20px;
  font-weight: bold;
}
