:global(.vtex-search-result-3-x-container--layout) .flexRow {
  max-width: 1252px;
  margin: 0 auto;
  width: 100%;
}
.flexRow--banner-department :global(.vtex-store-components-3-x-container) {
  padding: 0;
  margin: 0;
  max-width: 100%;
}
.flexRow--row-not-found {
  max-width: 1252px;
  margin: 0 auto;
  margin-bottom: 60px;
}
@media (max-width: 1024px) {
  .flexRowContent--orderByFilterMobile {
    margin: 20px auto;
  }
  :global(.vtex-search-result-3-x-container--layout) .flexRow {
    max-width: 100%;
  }
}
.flexRow--results{
  animation: fadeIn 0.8s forwards ;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(-20px,0 ,0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px,0 ,0);

  }
}
@media(min-width: 1380px){
  :global(.vtex-search-result-3-x-container--layout) .flexRow--searchbread,
  :global(.vtex-breadcrumb-1-x-container),
  :global(.vtex-search-result-3-x-container--layout) .flexRow--results{
    max-width: 1700px;
    width: calc(100vw - 50px);
  }
  .flexRow--results .flexRow{
    max-width: none;
  }
  :global(.vtex-search-result-3-x-container--layout)  :global(.vtex-product-summary-2-x-containerNormal){
    max-width: none!important;
  }
}
