.paragraph--especificacoesTitle {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0px;
  color: #141414;
}

.paragraph--medidas {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0px;

  color: black;
  font-size: 12px;
  font-weight: bold;
  line-height: 23px;
  text-decoration: underline;

  cursor: pointer;
}

.image--medidas {
  margin-right: 15px;
}

@media (max-width: 632px) {
  .paragraph--especificacoesTitle {
    margin-top: 40px;
  }
}
