.flexRow--container-product :global(.vtex-store-components-3-x-container){
  padding: 0;
}

.flexRow--container-product :global(.vtex-store-components-3-x-container),
.flexRow--container-product-main :global(.vtex-store-components-3-x-container) {
  max-width: 1252px;
  margin: 0 auto;
}

.vtex-flex-layout-0-x-flexRow--descricao-products {
  max-width: 1252px;
  margin: 0 auto;
}

.flexRowContent--descricao-products {
  max-width: 1252px;
  margin: 0 auto;
}

@media(min-width: 1380px){
  .flexRowContent--descricao-products,
  .flexRow--descricao-products :global(.vtex-store-components-3-x-container){
    max-width: 1700px!important;
    width: calc(100vw - 50px);
  }
}
/*----------------- Container breadcrumb (page Products)----------*/

.flexRow--breadcrumb--product {
  font-size: 12px;
  color: #b1b3b3;
}
.flexRow--breadcrumb-product,
.vtex-flex-layout-0-x-flexRowContent--breadcrumb-product {
  max-width: 1252px;
  margin: 0 auto;
}

/*----------------- Container Info-Products (page Products)----------*/

.flexCol--info-products {
  align-items: center;
  justify-content: start;
  padding-top: 0;
}
.flexCol--info-products .flexCol--products,
.flexCol--info-products .flexColChild--button,
.flexCol--info-products .flexCol--calc-cep {
  max-width: 457px;
}

.flexColChild--info-products {
  width: 100%;
  max-width: 457px;
}

.flexCol--products {
  align-items: center;
  width: 100%;
}

.flexCol--prices {
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.flexColChild--products
  :global(.vtex-product-price-1-x-currencyContainer--price) {
  font-size: 22px;
}

.flexColChild--button {
  /* border-bottom: 1px solid #d1d1d1; */
}
.flexRowContent--buy-button{
  margin-bottom: 8px;
}
.flexRowContent--buy-button :global(.vtex-button) {
  all: unset;
  width: 100%;
  height: 48px;
  background-color: #000000;
  color: #a1a1a1;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;

  border-radius: none;
  border: none;
}
.flexRowContent--buy-button :global(.vtex-add-to-cart-button-0-x-buttonText) {
  font-size: 0px;
  letter-spacing: 0px;
}
.flexRowContent--buy-button
  :global(.vtex-add-to-cart-button-0-x-buttonText)::after {
  content: "Comprar";
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 1px;
}
.flexColChild--productSpecificationValue{
  font-size: 12px;
  text-transform: uppercase;
}

@media (max-width: 750px) {
  .flexRowContent--buy-button :global(.vtex-button) {
    font-size: 13px;
  }
}

.flexRowContent--buy-button :global(.vtex-button):hover {
  cursor: pointer;
}

/*----------------- Container Description Products (page Products)----------*/
.flexRowContent--descricao-products {
  justify-content: center;
}
.flexRowContent--descricao-products
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 98% !important;
}

.flexRow--descricao-products {
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.flexCol--description {
  width: 50%;
}

@media (min-width: 640px) {
  .flexColChild--description {
    padding-left: 30px;
  }
}

@media (max-width: 640px) {
  .flexRow--descricao-products {
    padding: 0 4px;
  }
  .flexColChild--description {
    padding-left: 0px !important;
  }

}

.flexCol--especificacoes {
  width: 80%;
}

.flexColChild--productSpecificationValue {
  text-align: center;
}

.flexColChild--calc-cep :global(.vtex-address-form__postalCode) {
  width: 100%;
  padding-bottom: 4px;
}
/*
*-------------- Container Produto Indisponivel ---------- */

.flexCol--p-indisponivel {
  align-items: center;
  max-width: 457px;
}

.flexCol--p-indisponivel
  :global(.vtex-flex-layout-0-x-flexColChild--form):last-child {
  width: 100%;
}
.flexCol--p-indisponivel :global(.vtex-store-components-3-x-content) {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.flexCol--p-indisponivel :global(.vtex-store-components-3-x-title) {
  font-size: 0px;
  text-align: center;
  margin-top: 30px;
}

.flexCol--p-indisponivel :global(.vtex-store-components-3-x-title)::after {
  content: "Produto Indisponível";
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
}

.flexCol--p-indisponivel :global(.vtex-store-components-3-x-submit) {
  background-color: #000000;
  width: 100%;
  height: 48px;
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;

  border-radius: none;
  border: none;
  margin-top: 20px;
}

.flexCol--p-indisponivel :global(.vtex-button) {
  width: 100%;
  height: 48px;
  background-color: #000000;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;

  cursor: pointer;
  border-radius: none;
  border: none;
}

.flexCol--p-indisponivel :global(.vtex-button__label) {
  font-size: 0px;
}

.flexCol--p-indisponivel :global(.vtex-button__label)::after {
  content: "avise-me quando disponível";
  font-size: 12px;
}
.flexCol--p-indisponivel :global(.vtex-store-components-3-x-subscribeLabel) {
  text-align: center;
}

.flexCol--p-indisponivel :global(.vtex-input-prefix__group) {
  height: 40px;
  border: 1px solid #eeeeee;
  border-radius: 0px;
}
.flexCol--p-indisponivel :global(.vtex-styleguide-9-x-input),
.flexCol--p-indisponivel :global(.vtex-store-components-3-x-inputEmail) {
  border: none !important;
  font-size: 12px;
  color: #b1b3b3;
}

.flexCol--p-indisponivel :global(.vtex-input__error) {
  color: #000000;
}

/* ------------------------Produto Customizado-------------------- */

.flexColChild--product-customized :global(.vtex-button) {
  width: 100%;
  height: 0px;
  background-color: #f4f4f4;
  color: #000;
  font-size: 0px;
  font-weight: bold;
}
.flexColChild--product-customized :global(.vtex-button__label ){
  height: 0;
  line-height: 0;
}
.flexColChild--product-customized :global(.vtex-button__label )::after{
  content: "Personalizar";
  height: 40px;
  line-height: 40px;
  font-size: 12px;
}

.flexColChild--product-customized :global(.vtex-button) :focus {
  background-color: transparent;
}

.flexColChild--product-customized :global(.vtex-styleguide-9-x-container) {
  width: 100%;
  border: 1px solid #eeeeee;
  border-radius: 0px;
  height: 40px;
  margin-top: 16px;
  font-size: 12px;
}

.flexColChild--product-customized :global(.vtex-dropdown__label) {
  color: #000000;
  font-size: 14px;
  margin-bottom: 14px;
}

.flexColChild--product-customized :global(.vtex-dropdown__arrow) {
  color: #25282a;
}
.flexColChild--product-customized :global(.vtex-dropdown__caption) {
  color: #25282a;
  padding: 10px 0px;
}


.flexColChild--product-customized :global(.vtex-input-prefix__group) {
  height: 40px;
  border-radius: 0px;
  border: 1px solid #eeeeee;
}

.flexColChild--products :global(.vtex-numeric-stepper__plus-button),
.flexColChild--products :global(.vtex-numeric-stepper__minus-button),
.flexColChild--products :global(.vtex-numeric-stepper__input) {
  border: 0px;
}

.flexColChild--products :global(.vtex-numeric-stepper-container) {
  border: 1px solid #eeeeee;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexColChild--prices .flexRowContent {
  align-items: flex-end;
}
@media(min-width: 640px){
  .flexRow--container-product :global(.vtex-store-components-3-x-container){
    width: calc(100% - 40px);
  }
}

/* Produto grid novo  */
@media(min-width: 1380px){
  .flexRow--container-product :global(.vtex-store-components-3-x-container),
  .flexRow--container-product-main :global(.vtex-store-components-3-x-container) {
    max-width: 1700px!important;
    width: calc(100vw - 50px);
    margin: 0 auto;
  }
  .flexCol--info-products{
    justify-content: start;
  }
}
/* Produto grid novo  */
