.product-identifier--productReference {
  font-size: 11px;
  text-transform: uppercase;
  line-height: 21px;
  color: #b1b3b3;
  margin-bottom: 8.5px;
  display: inline-block;
}

.product-identifier__label {
  font-size: 0px;
}
.product-identifier__label::after {
  content: "Cód";
  font-size: 11px;
}
