.nameContainer {
  padding: 0;
  width: 100%;
  margin-top: 8px;
  min-height: 34px;
}

.nameWrapper,
.brandName {
  text-align: center;
  color: #141414;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%;
}

.hoverImage {
  z-index: 2;
}
.hoverEffect .image {
  transition: 0.3s ease-in-out;
}

.hoverEffect .image:last-child{
  display: inline-block;
  opacity: 0;
  transform: scale(0.95);
}
:global(.vtex-flex-layout-0-x-flexRow--container-shelf) .image {
  min-height: 284px;
}
/* never remove*/
.hoverEffect .image:first-child{
  opacity: 1;
  transform: scale(1);
}
/* never remove */
.container:hover .image:last-child{
  opacity: 1;
  transform: scale(1);
}
:global(.vtex-search-result-3-x-gallery) .imageStackContainer .image,
:global(.vtex-slider-layout-0-x-slide ) .imageStackContainer .image,
:global(.vtex-shelf-1-x-sliderContainer--shelf-related) .imageStackContainer .image,
:global(.vtex-search-2-x-biggy-autocomplete) .element .image {
  height: auto!important;
}
@media(max-width:490px){
  .nameWrapper{
    min-height: 60px;
  }
}
@media(max-width:360px){
  .nameWrapper{
    min-height: 60px;
  }
}
