.flexRow--container-shelf {
  max-width: 1252px;
  margin: 0 auto;
  margin-top: 118px;
  padding-bottom: 36px;
}
.flexRowContent--price-shelf {
  margin: 0 auto;
  justify-content: center;
  align-items: baseline;
}

.flexRow--container-shelf
  :global(.vtex-product-price-1-x-currencyContainer--summary) {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  color: #141414;
}
.flexRowContent--container-prices {
  min-height: 49px;
  margin-top: 4px;
  display: flex;
  min-height: 45px;
}
.flexRowContent--container-prices .flexCol{
  justify-content: end;
}
.flexRowContent--container-prices .flexColChild {
  height: auto!important;
}
@media(min-width: 1380px){
  .flexRow--container-shelf,
  .flexRow--container-shelf :global(.vtex-store-components-3-x-container),
  .flexRow--home-banner-mini ,
  .flexRow--home-banner-mini :global(.vtex-store-components-3-x-container) {
    max-width: 1700px!important;
    width: calc(100vw - 50px);
  }
  .flexRow--container-shelf :global(.vtex-product-summary-2-x-containerNormal){
    max-width: none!important;
  }
}
