.productHighlightText--novidade {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 114px;
  padding: 2px 0;
  height: 20px;
  line-height: 21px;
  border-radius: 0;
  background-color: #a79473;
  font-size: 10px;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
}
