.paragraph--shelfTitle {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  line-height: 21px;
  color: #141414;
  text-transform: uppercase;
  margin-bottom: 38px;
}
@media (max-width: 490px) {
  .paragraph--shelfTitle {
    font-size: 16px;
    line-height: 21px;
  }
}
