.paragraph--footerCopyrightText {
  color: #787878;
  font-size: 10px;
  line-height: 1.1;
  margin: 0;
  max-width: 642px;
}

.paragraph--footerLogoSubtitle {
  margin-top: 18px;
  margin-bottom: 43px;
}

.link--footerCopyrightText {
  color: #787878;
  text-decoration: none;
}
.paragraph--newsletter-title {
  font-size: 32px;
  color: #000000;
  margin: 0 0 3px 0;
  text-shadow: 0.5px 0.5px white;
}
.paragraph--newsletter-subtitle {
  margin: 0;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}
@media (max-width: 780px) {
  .container--newsletter-title,
  .paragraph--newsletter-title,
  .container--newsletter-subtitle,
  .paragraph--newsletter-subtitle {
    text-align: center;
    display: block;
    width: 100%;
  }
}

.container--social-networks--facebook {
  display: flex;
  align-items: center;
}

.paragraph--social-networks--facebook {
  margin: 0;
}

.image--social-networks {
  max-width: unset;
}

@media (max-width: 1030px) {
  .wrapper--footerCopyrightText {
    max-width: 372px;
    margin: 0 auto;
    text-align: center;
  }
}
