.flexRowContent--social {
  gap: 40px;
}

.flexRowContent--footerPayments {
  max-width: 300px;
}

.flexRowContent--footerCopyrightBar {
  border-top: 1px solid #f0f0f0;
  padding: 28px 0;
}
.flexRow--newsletter-container {
  background-color: #ecedee;
  padding-top: 58px;
  padding-bottom: 58px;

  background-image: url("/arquivos/banner-newsletter.png");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}
.flexRowContent--newsletter-container {
  max-width: 1252px;
  margin: 0 auto;
  justify-content: space-between;
}
.flexRow--newsletter-container .stretchChildrenWidth {
  width: auto !important;
}
.flexRow--newsletter-container .stretchChildrenWidth:first-child {
  max-width: 350px;
}
@media (min-width: 1030px) {
  .flexRowContent--footerFlags
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth)
    :nth-child(2n) {
    margin: 0 auto;
    width: 60% !important;
  }
}

@media (max-width: 1180px) {
  .flexRowContent--newsletter-container {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
@media (max-width: 780px) {
  .flexRow--newsletter-container .stretchChildrenWidth:first-child {
    margin: 0 auto 34px auto;
  }
}
@media (max-width: 576px) {
  .flexRow--newsletter-container {
    background-image: url("/arquivos/banner-newsletter-mobile.png");
    padding-bottom: 30px;
    padding-top: 30px;
  }
}
/*---------------------------------Footer Desktop-----------------*/
.flexRowContent--footerMainDesktop {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 1252px;
  margin: 0 auto;
}

.flexRowContent--social {
  display: flex;
  align-items: center;
  gap: 40px;
}

.vtex-flex-layout-0-x-flexRow--footerFlags,
.flexRowContent--footerFlags,
.flexRowContent--footerCopyrightBar {
  padding-bottom: 40px;
  max-width: 1252px;
  margin: 0 auto;
  align-items: baseline;
}

.flexRowContent--footerMainDesktop:first-child {
  display: flex;
  justify-content: space-around;
}

/*--------------------------------- Footer Mobile -----------------*/
@media (max-width: 1030px) {
  .flexRowContent--social {
    gap: 25px;
    margin-bottom: 16px;
  }
  .flexColChild--footerSocial
    :global(.vtex-store-components-3-x-imageElement--logoFooter) {
    margin-top: 40px;
  }
  .flexRowContent--footerMainMobile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .flexRowContent--footerMainMobile
    :global(.vtex-menu-2-x-styledLinkContainer--footerMenuTitle) {
    font-size: 0px;
  }
  .flexRowContent--footerMainMobile
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
    margin-bottom: 20px;
  }

  .flexRowContent--footerMainMobile
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .flexRowContent--social {
    display: flex;
    align-items: center;
  }
  .flexRowContent--footerPayments {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 25px;
  }

  .flexRowContent--footerFlags {
    flex-direction: column;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    margin: 20px 0px;
    padding: 40px 0px;
  }
  .flexRowContent--footerFlags
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    margin: 0 auto;
  }
  .flexRowContent--footerFlags
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth)
    :nth-child(2n) {
    margin-left: 0 8px;
  }

  .flexRowContent--footerSecurity {
    display: flex;
  }
  .flexRowContent--footerCredits {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 25px;
  }
}

@media (max-width: 768px) {
  .flexRowContent--footerSecurity {
    justify-content: center;
  }
}
.flexRowContent--footerCredits {
  align-items: center;
}
.flexRowContent--footerCredits
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
  border-right: 1px solid #c8d0d5;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .flexRowContent--footerFlags
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(1n) {
    width: 50% !important;
    margin: 0 auto;
  }

  .flexRowContent--footerCredits
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 20% !important;
  }
}
