.newsletterForm--container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.newsletterForm--container .nameInputContainer {
  margin-right: 20px;
  width: 240px;
  height: 48px;
}
.newsletterForm--container .emailInputContainer {
  margin-right: 40px;
  width: 240px;
  height: 48px;
}
.newsletterForm--container :global(.vtex-input-prefix__group) {
  border: none;
  background-color: #fff;
  border-radius: 0;
  height: 48px;
}
.newsletterForm--container
  .nameInputContainer
  :global(.vtex-styleguide-9-x-input),
.newsletterForm--container
  .emailInputContainer
  :global(.vtex-styleguide-9-x-input) {
  border: none;
  background-color: #fff;
  border-radius: 0;
  font-size: 13px;
}

.newsletterForm--container .formSubmitContainer {
  border: none;
}
.newsletterForm--container .formSubmitContainer :global(.vtex-button) {
  width: 148px;
  height: 48px;
  border: none;
  border-radius: 0;
  background-color: #a79473;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}
.newsletterForm--container .formSubmitContainer :global(.vtex-button):hover {
  background-color: #b6a281;
}
.defaultSuccessMessage {
  color:white;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-shadow: 1px 1px black;
}
@media (max-width: 780px) {
  .defaultSuccessMessage {
    color: black;
    font-size: 20px;
    justify-content: center;
    margin: 10px 0;
    text-shadow: 0.5px 0.5px white;
  }

  .newsletterForm--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .newsletterForm--container .nameInputContainer,
  .newsletterForm--container .emailInputContainer {
    margin-right: 0;
  }
  .newsletterForm--container .formSubmitContainer {
    margin-top: 10px;
  }
}
@media (max-width: 576px) {
  .newsletterForm--container .nameInputContainer,
  .newsletterForm--container .emailInputContainer {
    width: 100%;
    max-width: 372px;
  }
}
